name: Node.js CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: "**/yarn.lock"
      - run: yarn install
      - run: yarn lint

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [22, 24]

    steps:
      - uses: actions/checkout@v6

      - run: corepack enable ${{ matrix.os == 'windows-latest' && '--install-directory C:\npm\prefix' || '' }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: "**/yarn.lock"

      - run: yarn install

      - run: yarn build

      - name: Install dependencies for testing
        run: yarn install
        working-directory: test

      - name: Test
        working-directory: test
        run: yarn test --runInBand=false --maxWorkers=2 --workerIdleMemoryLimit=2GB # https://github.com/facebook/jest/issues/11956
        env:
          NODE_OPTIONS: --max_old_space_size=4096
